

<div class="col-lg-12">

  <div class= "d-flex mr-2 mt-4 flex-row justify-content-end">
    <%= link_to "+Add a transaction", new_investment_path, class: "btn-main"%>
  </div>


  <% if @user_investments.empty? %>
    <div class="d-flex justify-content-center mb-4">
      <h1 class="no-invest"> No cryptoasset yet ! What are you waiting for to invest? 🦾</h1>
    </div>
  <% end %>




  <% @user_investments %>
  <h3>Your Crypto Assets 🪙</h3>
  <div class="cards-border">
  <table class = "table">
    <thead>
      <tr>
        <th scope="col" >Cryptocurrency</th>
        <th scope="col">Closing Price</th>
        <th scope="col">Total Invested($)</th>
        <th scope="col">Coin Holdings</th>
        <th scope="col">Average Price Bought at</th>
        <th scope="col">Profit/Loss(%)</th>
        <th scope="col">Gains($)</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <%@user_investments.each do |key, value| %>
      <tr class="cards-border-invest">
        <th scope ="row"><%= key %> <%=value[:symbol] %></th>
        <% total_quantity_owned = value[:quantity].sum  %>
        <% average_price_bought_at = value[:total_invested] / total_quantity_owned %>
        <td class="closing-price"><%= "#{number_with_precision(value[:closing_price], precision: 2, :delimiter => ',')}$" %></td>
        <td><%= "#{number_with_precision(value[:total_invested], precision: 1, :delimiter => ',')}$" %></td>
        <td><%= " #{number_with_precision(total_quantity_owned, precision: 5, :delimiter => ',')} #{value[:symbol]}" %></td>
        <td class="bought-price"><%= "#{number_with_precision(average_price_bought_at, precision: 1, :delimiter => ',')}$"%></td>
        <% profit_percentage = ((value[:closing_price].to_f / average_price_bought_at)) %>
        <% dollar_gains = (total_quantity_owned * (value[:closing_price].to_f - average_price_bought_at)) %>
        <td><%=  profit_percentage > 1 ? "+ #{number_with_precision(profit_percentage.abs() * 100, precision: 2, :delimiter => ",")}%" : "- #{number_with_precision(profit_percentage.abs() * 100, precision: 2, :delimiter => ',')}%" %></td>
        <td><%=  profit_percentage > 1 ? "🚀 #{number_with_precision(dollar_gains.abs(), precision: 2, :delimiter => ",")}$" : "😭 #{number_with_precision(dollar_gains.abs(), precision: 2, :delimiter => ",")}$" %></td>
        <td><%= link_to investment_path(value[:coin_id]), title: "Transactions" do %>
            <i class="fas fa-exchange-alt icon"></i>
          <% end %>
        </td>
      </tr>
     <% end %>
   </tbody>
  </table>
  </div>

   <div class="note d-flex mr-2 mt-4 flex-row justify-content-end ">
     <h6> PS: Happy HODL'ING 😉 </h6>
   </div>
</div>



