<h1>Here are all your investments</h1>
<h3> Happy HODL'ING !</h3>



<ul>
  <% bitcoin_array = [] %>
  <% @investments.each do |investment| %>
  <li><%= investment.coin.name %></li>
  <li><%= "#{investment.coin_price}$" %></li>
  <li><%= "#{investment.quantity}" %></li>
  <% if investment.coin.name == 'Bitcoin' %>
    <% bitcoin_array << investment.coin_price %>
  <% end  %>
   <% end %>
   <%= bitcoin_array %>
 </ul>

 <%= link_to "Add a transaction", new_investment_path %>


<% c_names = [] %>
<% @investments.each do |investement| %>
<% c_names << investement.coin.name %>
<% end  %>
<% o_names =  c_names.uniq %>
<%= o_names %>

<% user_investments = {} %>
<% o_names.each do |name| %>
<% user_investments[name] = {} %>
<% end %>
<%= user_investments %>


<% user_investments.each do |key, value| %>
 <% @investments.each do |investment| %>
    <% if investment.coin.name == key %>
      <%value[:price] = []  %>
      <% value[:price]<< investment.coin_price %>
    <% end %>
  <% end %>
<% end %>
<%= user_investments %>

