
<div class="col-lg-12">

<table class = "table show">
  <thead>
    <tr>
      <th scope="col" >Date Bought at</th>
      <th scope="col">Price</th>
      <th scope="col">Amount</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr class="cards-border-invest">
    <%@investment.each do |investment| %>
      <h1> <%= investment.coin.name %></h1>
      <th scope ="row"><%= investment.created_at.strftime("%a, %B %d %T %P") %></th>
      <td><%= "#{number_with_precision(investment.coin_price, precision: 2, :delimiter => ',')}$" %></td>
      <td><%= "#{number_with_precision(investment.quantity, precision: 4, :delimiter => ',')} #{investment.coin.symbol}"%></td>
      <td><%= link_to edit_investment_path(investment.id), title: "Edit Transaction" do%>
          <i class="far fa-edit icon"></i>
        <% end %>
        <%= link_to investment_path(investment.id), method: :delete, data: { confirm: "Are you sure?"}, title: "Delete Transaction" do%>
        <i class="far fa-trash-alt icon"></i>
        <% end  %>
      </td>
    </tr>
   <% end %>
 </tbody>
</table>
 </div>
