
<table class = "table">
  <thead>
    <tr>
      <th scope="col" >Date Bought at</th>
      <th scope="col">Price</th>
      <th scope="col">Amount</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <%@investment.each do |investment| %>
      <% name = investment.coin.name %>
      <th scope ="row"><%= investment.created_at %></th>
      <td><%= investment.coin_price %></td>
      <td><%= investment.quantity %></td>
      <td><%= link_to "Edit", edit_investment_path(investment.id)%> <%= link_to "Delete", investment_path(investment.id), method: :delete, data: { confirm: "Are you sure?"}%></td>
    </tr>
   <% end %>
 </tbody>
