<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to coins_path, class: "navbar-brand" do %>
    <%= image_tag "Bitcoin-Emblem.png" %>
    <h1>Mini Cryptocurrency Portfolio Tracker</h1>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto d-flex align-items-center">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to current_user.email, "#", class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "https://download.logo.wine/logo/Ethereum/Ethereum-Logo.wine.png", class: "avatar-large dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Your Investments", investments_path, class: "dropdown-item" %>
            <%= link_to "Add a Transaction", new_investment_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
